<section class="flex flex-row items-center justify-center gap-40 mt-10">
  <div class="p-4 bg-white w-3/5 h-2/3 flex items-center justify-center">
    <full-calendar
      #calendar
      [options]="calendarOptions"
      class="w-screen"
    ></full-calendar>
  </div>
  <div class="flex flex-col h-96 items-center bg-white">
    <div class="flex justify-center items-center gap-4 self-start p-4">
      <a routerLink="/create-appointment" routerLinkActive="active" >New appointment</a>
      <a routerLink="/delete-appointment" routerLinkActive="active" >Delete appointment</a>
    </div>
    <router-outlet />
  </div>
</section>
