<div
  class="flex flex-col justify-center p-6 gap-4 dark:bg-dark-main-bg dark:text-white"
>
  <div class="flex flex-col gap-4">

    <div class="flex flex-row">
      <span class="font-bold text-2xl md:text-4xl">Specializations</span>
      <button
        class="font-medium text-sm rounded-lg px-5 py-2.5 me-2 text-white/90 bg-main-purple/50 hover:bg-main-purple/80 focus:ring-main-purple focus:ring-4 dark:bg-gray-700 dark:text-white/90 transition ease-in-out ml-auto"
        (click)="newSpecialization()"
      >
        New specialization
      </button>
    </div>

    <form (submit)="onSubmit($event)">   
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
          <input 
            #filter 
            (input)="filterSpecializations(filter.value)"
            (change)="filterSpecializations(filter.value)" 
            type="search" 
            id="default-search" 
            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300/20 rounded-lg bg-gray-300/50 focus:ring-main-purple focus:border-main-purple dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-300/40 dark:focus:border-gray-300/40" placeholder="Search specializations by name, dni..." />
      </div>
    </form>
    
  </div>
  @defer (on viewport){

    @if (dataSpecializations.length > 0){

      <table
        class="w-full text-sm text-left table-auto rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="table-header-group text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr class="table-row">
            <th scope="col" class="px-6 py-3 table-cell">Name</th>
            <th scope="col" class="px-6 py-3 md:table-cell hidden">Description</th>
            <th scope="col" class="px-6 py-3 md:table-cell hidden">Salary</th>
            <th scope="col" class="px-6 py-3 table-cell">
              <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>

        <tbody class="table-row-group">
          @for (specializations of dataSpecializations; track dataSpecializations.id){

            <tr
              class="table-row bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
            >
  
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                {{ specializations.name }}
              </th>
              <td class="px-6 py-4 md:table-cell hidden">{{ specializations.description }}</td>
              <td class="px-6 py-4 md:table-cell hidden">{{ specializations.salary }}€</td>
    
              <td class="px-6 py-4 text-right table-cell">
                <a
                  (click)="modifySpecialziation(specializations.id)"
                  class="font-medium text-main-purple dark:text-white/90 hover:underline cursor-pointer"
                  >Edit</a
                >
              </td>
            </tr>
          }
            
        </tbody>
      </table>
  
      <!-- PAGINATION -->
      <nav aria-label="Page navigation example" class="self-center absolute bottom-20">
        <ul class="flex items-center -space-x-px h-10 text-base">
          <li>
            <button (click)="previousPage()" [disabled]="offset === 0" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
              <span class="sr-only">Previous</span>
              <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
              </svg>
            </button>
          </li>
          <ng-container *ngFor="let page of generatePageNumbers(); let i = index">
            <li>
              <button
                type="button" 
                (click)="goToPage(page)"
                [attr.aria-current]="currentPage === page ? 'page' : null"
                class="{{ currentPage === page ? 'z-10 flex items-center justify-center px-4 h-10 leading-tight text-main-purple border border-gray-300 bg-gray-50 hover:bg-gray-100 hover:text-main-purple dark:border-gray-700 dark:bg-gray-700 dark:text-white' 
                : 'flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white' }}"
                >{{page}}</button>
            </li>
          </ng-container>
          <button (click)="nextPage()" [disabled]="offset >= (maxSpecializations - limit)" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Next</span>
            <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
          </button>
        </ul>
      </nav>
  
      
    } @else {
  
      <!-- FALLBACK TO DATA -->
      <div class="flex flex-row items-center justify-center">
        <img
          src="/assets/images/question-flatline.png"
          alt="earch-engine"
          width="150"
          height="150"
        />
        <p class="text-gray-500">Ups! There are no specializationss...</p>
      </div>
    }

  } @placeholder {
    <div role="status" class="animate-pulse">

      <table class="w-full text-sm text-left table-auto rtl:text-right text-gray-500 dark:text-gray-400" >
        <thead
          class="table-header-group text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr class="table-row">
            <th scope="col" class="px-6 py-3 table-cell">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
            </th>
            <th scope="col" class="px-6 py-3 md:table-cell hidden">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
            </th>
            <th scope="col" class="px-6 py-3 md:table-cell hidden">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
            </th>
            <th scope="col" class="px-6 py-3 md:table-cell hidden">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
            </th>
            <th scope="col" class="px-6 py-3 table-cell">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
            </th>
          </tr>
        </thead>

        <tbody class="table-row-group">
          <tr
            class="table-row bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          >
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
            </th>

            <td class="px-6 py-4 md:table-cell hidden">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
            </td>
  
            <td class="px-6 py-4 md:table-cell hidden">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
            </td>
  
            <td class="px-6 py-4 md:table-cell hidden">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
            </td>
  
            <td class="px-6 py-4 text-right table-cell">
              <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-20 mb-4"></div>
            </td>
          </tr>
          
        </tbody>
          
      </table>

    </div>
  } @loading {
    <div class="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  }
</div>

 <!-- CREATE specializations MODAL -->
 <div
    id="modal-create-specializations"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
    <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- MODAL CONTENT -->
      <div
        class="relative bg-white dark:bg-dark-main-bg rounded-lg shadow md:w-[800px]"
      >
        <!-- MODAL HEADER -->
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
        >
          <span class="font-bold text-2xl md:text-4xl dark:text-white">Create specialization</span>
        </div>

        <!-- MODAL BODY -->
        <div class="relative overflow-x-auto">
          <app-create-doctor-type
            modalId="modal-create-specializations"
          ></app-create-doctor-type>
        </div>
      </div>
    </div>
  </div>

  <!-- EDIT specializations MODAL -->
  <div
    id="modal-edit-specializations"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
    <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- MODAL CONTENT -->
      <div
        class="relative bg-white dark:bg-dark-main-bg rounded-lg shadow md:w-[800px]"
      >
        <!-- MODAL HEADER -->
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
        >
          <span class="font-bold text-2xl md:text-4xl dark:text-white">Modify specializations</span>
        </div>

        <!-- MODAL BODY -->
        <div class="relative overflow-x-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>