<nav class="flex flex-row w-screen items-center justify-between px-6 py-2 bg-white text text-main-purple animate-fade">
  <img src="/assets/images/logo-dark.png" alt="logo" width="100">
  <div class="flex flex-row items-center gap-4">
    <a
      routerLink="/home"
      routerLinkActive="active"
      class="border-b-2 border-transparent px-1 hover:border-main-purple"
    >
      Home
    </a>
    <a
      routerLink="/appointments"
      routerLinkActive="active"
      class="border-b-2 border-transparent px-1 hover:border-main-purple"
    >
      Appointments
    </a>
    <a
      routerLink="/patients"
      routerLinkActive="active"
      class="border-b-2 border-transparent px-1 hover:border-main-purple"
    >
      Patients
    </a>
    <a
      routerLink="/doctors"
      routerLinkActive="active"
      class="border-b-2 border-transparent px-1 hover:border-main-purple"
    >
      Doctors
    </a>
  </div>
  <div class="flex flex-row items-center gap-2">
    <img
      src="https://raw.githubusercontent.com/D4souls/portfolio-2023/main/public/logoportfolio2023.webp"
      height="35"
      width="35"
      alt="User profile example"
      class="rounded-full"
    />
    <a routerLink="/user-data">Hi {{ name }}!</a>
  </div>
</nav>
