<section
  class="flex flex-col items-center justify-center py-4 overflow-hidden animate-fade animate-ease-in-out animate-fill-both animate-duration-500"
>
  <form
    class="gap-4 bg-white p-4 rounded-md w-2/3"
    [formGroup]="createPatientForm"
    (ngSubmit)="createPatient()"
  >
  <div class="flex flex-col gap-2">
    <h2 class="text-main-purple text-2xl">Personal information</h2>
      <label for="patientDNI" class="flex flex-col justify-center text-md">
        DNI
        <input
          type="text"
          id="patientDNI"
          placeholder="Enter patient's DNI here"
          formControlName="patientDNI"
          class="rounded-md outline-0 border border-gray-300"
        />
      </label>
      <label for="patientName" class="flex flex-col justify-center text-md">
        First name
        <input
          type="text"
          id="patientName"
          placeholder="Enter patient's first name here"
          formControlName="patientName"
          class="rounded-md outline-0 border border-gray-300"
        />
      </label>
      <label for="patientLastname" class="flex flex-col justify-center text-md">
        Last name
        <input
          type="text"
          id="patientLastname"
          placeholder="Enter patient's last name here"
          formControlName="patientLastname"
          class="rounded-md outline-0 border border-gray-300"
        />
      </label>
      <label for="patientPhone" class="flex flex-col justify-center text-md">
        Phone number
        <input
          type="text"
          id="patientPhone"
          placeholder="Enter patient's phone number here"
          formControlName="patientPhone"
          class="rounded-md outline-0 border border-gray-300"
        />
      </label>
      <label for="patientGender" class="flex flex-col justify-center text-md">
        Gender
        <select name="patientGender" id="patientGender" formControlName="patientGender" class="rounded-md outline-0 border border-gray-300">
          <option value="" disabled selected class="text-gray-300">Select patient's gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="noBinary">No binary</option>
        </select>
      </label>
      <label for="patientDoctor" class="flex flex-col justify-center text-md">
        Doctor
        <select name="patientDoctor" id="patientDoctor" formControlName="patientDoctor" class="rounded-md outline-0 border border-gray-300">
          <option value="" disabled selected>Select Doctor</option>
          @for (doctorData of doctors; track doctors.dni){
            <option value="{{doctorData.dni}}">{{doctorData.firstname}} {{doctorData.lastname}}</option>
          }
        </select>
      </label>
  </div>
  <div class="flex flex-col gap-2">
    <h3 class="text-main-purple text-lg">Additional information</h3>
    <label for="patientEmail" class="flex flex-col justify-center text-md">
      Email:
      <input
        type="email"
        id="patientEmail"
        placeholder="Enter patient's mail here"
        formControlName="patientEmail"
        class="rounded-md outline-0 border border-gray-300"
      />
    </label>
    <label for="patientCity" class="flex flex-col justify-center text-md">
      City:
      <input
        type="text"
        id="patientCity"
        placeholder="Enter patient's city here"
        formControlName="patientCity"
        class="rounded-md outline-0 border border-gray-300"
      />
    </label>
  </div>
  <div class="flex flex-row gap-4 items-center mt-7">
    <button type="submit" [disabled]="!createPatientForm.valid" class="focus:outline-none text-white focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 {{!createPatientForm.valid ? 'bg-main-purple/30 cursor-not-allowed' : 'bg-main-purple cursor-pointer'}}">Create</button>
    <button type="button" (click)="returnBack()" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Cancel</button>
  </div>
  </form>
</section>
