<section
  class="flex flex-col p-6 gap-4 animate-fade animate-ease-in-out animate-fill-both animate-duration-500"
>
  <div class="flex flex-row items-center">
    <form
      (submit)="onSubmit($event)"
      class="flex flex-row items-center gap-4 focus:outline-none"
    >
      <label
        for="filterPatient"
        class="bg-white rounded-md px-2 py-1.8 flex flex-row items-center gap-2"
      >
        <i class="bx bx-search-alt"></i>
        <input
          type="text"
          name="filterPatient"
          placeholder="Search patient"
          #filter
          size="20"
          class="bg-transparent outline-0"
          (keyup.enter)="filterPatients(filter.value)"
        />
      </label>
      <button
        class="bg-white rounded-md px-2 py-1.8 hover:bg-main-purple/80 hover:text-white transition ease-in-out"
        (click)="filterPatients(filter.value)"
        type="button"
      >
        Search
      </button>
    </form>
    <a
      class="ml-auto bg-white rounded-md px-2 py-1.8 hover:bg-main-purple/80 hover:text-white transition ease-in-out cursor-pointer"
      (click)="newPatient()"
      >New patient</a
    >
  </div>
  @if (data.length > 0){
    <div class="flex flex-row flex-wrap gap-4 items-center">
      @for (patient of filteredPatient; track filteredPatient.dni){
      <div class="flex flex-col bg-white rounded-md p-4 text-black/90 hover:bg-main-purple/20 hover:text-white/90 transition ease-in-out">
        <div class="flex flex-row gap-2 items-center">
          <img
            src="https://raw.githubusercontent.com/D4souls/portfolio-2023/main/public/logoportfolio2023.webp"
            height="60"
            width="60"
            alt="{{ patient.dni }}_avatar"
            class="rounded-full"
          />

          <div class="flex flex-col">
            <div class="flex flex-row gap-2 items-center">
              <span class="font-semibold text-xl"
                >{{ patient.firstname }} {{ patient.lastname }}</span
              >
              <button (click)="modifyPatient(patient)">
                <i class="bx bxs-edit"></i>
              </button>
            </div>
            <span class="text-sm">{{ patient.city }}</span>
          </div>
        </div>
      </div>
      }
    </div>
  } @else {
    <div class="flex flex-col items-center justify-center">
      <p class="text-gray-400">Ups! There are no patients...</p>
    </div>
  }
</section>
