<form
    class="p-4 rounded-md flex flex-col md:flex-row flex-shrink items-center gap-4"
    [formGroup]="createDoctorForm"
    (ngSubmit)="createDoctor()"
  >
   <!-- UPLOAD USER'S AVATAR -->
<!--   
   <div class="flex items-center justify-center order-2 absolute top-24 right-72">
    <label for="doctorAvatar" class="flex flex-col items-center justify-center h-32 w-32 border-2 border-gray-300 border-dashed rounded-full cursor-pointer bg-gray-50 relative overflow-hidden">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-4 h-4 mb-1 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-xs text-gray-500 font-semibold">Click to upload</p>
        </div>
        <input id="doctorAvatar" type="file" class="hidden z-10" formControlName="doctorAvatar" (change)="filePreview($event)"/>
        <img [src]="previewAvatar" class="absolute z-0 rounded-full object-cover">
    </label>
  </div> -->


  <!-- INFORMATION CONTAINER -->

  <div class="flex flex-col order-1 w-full gap-4">
    <!-- MAIN INFORMATION USER FORM -->
    <div class="grid grid-rows-2 md:grid-cols-2 gap-2">
        <label for="doctorDNI" class="flex flex-col justify-center text-md">
          <span class="dark:text-white/90">DNI*</span>
          <input
            type="text"
            id="doctorDNI"
            placeholder="Enter doctor's DNI here"
            formControlName="doctorDNI"
            class="border border-gray-400/40 dark:bg-gray-700 dark:text-white/90 rounded-md focus:ring-main-purple/80 focus:border-main-purple/80 dark:focus:ring-gray-400 dark:focus:border-gray-400"
          />
        </label>
        <label for="doctorName" class="flex flex-col justify-center text-md">
          <span class="dark:text-white/90">First name*</span>
          <input
            type="text"
            id="doctorName"
            placeholder="Enter doctor's first name here"
            formControlName="doctorName"
            class="border border-gray-400/40 dark:bg-gray-700 dark:text-white/90 rounded-md focus:ring-main-purple/80 focus:border-main-purple/80 dark:focus:ring-gray-400 dark:focus:border-gray-400"
          />
        </label>
        <label for="doctorLastname" class="flex flex-col justify-center text-md">
          <span class="dark:text-white/90">Last name*</span>
          <input
            type="text"
            id="doctorLastname"
            placeholder="Enter doctor's last name here"
            formControlName="doctorLastname"
            class="border border-gray-400/40 dark:bg-gray-700 dark:text-white/90 rounded-md focus:ring-main-purple/80 focus:border-main-purple/80 dark:focus:ring-gray-400 dark:focus:border-gray-400"
          />
        </label>
        <label for="doctorPhone" class="flex flex-col justify-center text-md">
          <span class="dark:text-white/90">Phone Number*</span>
          <input
            type="text"
            id="doctorPhone"
            placeholder="Enter doctor's phone number here"
            formControlName="doctorPhone"
            class="border border-gray-400/40 dark:bg-gray-700 dark:text-white/90 rounded-md focus:ring-main-purple/80 focus:border-main-purple/80 dark:focus:ring-gray-400 dark:focus:border-gray-400"
          />
        </label>
        <label for="doctorGender" class="flex flex-col justify-center text-md">
          <span class="dark:text-white/90">Gender*</span>
          <select name="doctorGender" id="doctorGender" formControlName="doctorGender" class="text-gray-700/70 border border-gray-400/40 dark:bg-gray-700 dark:text-white/90 rounded-md focus:ring-main-purple/80 focus:border-main-purple/80 dark:focus:ring-gray-400 dark:focus:border-gray-400">
            <option value="" disabled selected>Select doctor's gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="No binary">No binary</option>
          </select>
        </label>
        <label for="doctorDoctor" class="flex flex-col justify-center text-md">
          <span class="dark:text-white/90">Doctor*</span>
          <select name="doctorDoctor" id="doctorDoctor" formControlName="doctorDoctor" class="text-gray-700/70 border border-gray-400/40 dark:bg-gray-700 dark:text-white/90 rounded-md focus:ring-main-purple/80 focus:border-main-purple/80 dark:focus:ring-gray-400 dark:focus:border-gray-400">
            <option value="" disabled selected>Select Doctor</option>
            @for (doctorData of doctors; track doctors.dni){
              <option value="{{doctorData.dni}}">{{doctorData.firstname}} {{doctorData.lastname}}</option>
            }
          </select>
        </label>
    </div>

    <!-- ADDITIONAL INFORMATION USER FROM -->

    <div class="grid grid-rows-2 md:grid-cols-2 gap-2">
      <label for="doctorEmail" class="flex flex-col justify-center text-md">
        <span class="dark:text-white/90">Email</span>
        <input
          type="email"
          id="doctorEmail"
          placeholder="Enter doctor's mail here"
          formControlName="doctorEmail"
          class="border border-gray-400/40 dark:bg-gray-700 dark:text-white/90 rounded-md focus:ring-main-purple/80 focus:border-main-purple/80 dark:focus:ring-gray-400 dark:focus:border-gray-400"
        />
      </label>
      <label for="doctorCity" class="flex flex-col justify-center text-md">
        <span class="dark:text-white/90">City</span>
        <input
          type="text"
          id="doctorCity"
          placeholder="Enter doctor's city here"
          formControlName="doctorCity"
          class="border border-gray-400/40 dark:bg-gray-700 dark:text-white/90 rounded-md focus:ring-main-purple/80 focus:border-main-purple/80 dark:focus:ring-gray-400 dark:focus:border-gray-400"
        />
      </label>
    </div>

    <!-- FORM BUTTONS -->
  
    <div class="flex flex-row gap-4 items-center mt-7">
      <button type="submit" [disabled]="!createDoctorForm.valid" class="focus:outline-none text-white focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 {{!createDoctorForm.valid ? 'bg-main-purple/30 dark:bg-gray-700/20 cursor-not-allowed' : 'bg-main-purple dark:bg-gray-700 cursor-pointer'}}">Create</button>
      <button type="button" (click)="returnBack()" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Cancel</button>
    </div>

  </div>

  </form>