<section class="flex flex-col flex-shrink px-6">

    <div class="flex flex-col rounded-md w-80 border-2 p-4 gap-4">

      <div class="flex flex-row gap-2 items-center">
        <img
          src="https://raw.githubusercontent.com/D4souls/portfolio-2023/main/public/logoportfolio2023.webp"
          height="60"
          width="60"
          alt="User profile example"
          class="rounded-full"
        />
        
          <div class="flex flex-col">
              <div class="flex flex-row gap-2 items-center">
                  <span class="font-semibold text-lg">Sergio Avila Macho</span>
                  <button>
                      <i class='bx bxs-edit'></i>
                  </button>
              </div>
              <span class="text-sm text-gray-500">Palencia</span>
          </div>
      </div>

      <div class="flex flex-row text-sm text-gray-900">
        <span class="border-2 rounded-full px-2">Therapist</span>
      </div>

    </div>

  </section>
  