<nav class="flex flex-row w-screen items-center px-6 py-2">
  <div class="flex flex-row items-center gap-4">
    <a href="/home">Home</a>
    <a href="">New appointment</a>
    <a href="/patients">Manage patients</a>
    <a href="/doctors">Manage doctors</a>
  </div>
  <div class="flex flex-row items-center ml-auto gap-2">
    <img
      src="https://raw.githubusercontent.com/D4souls/portfolio-2023/main/public/logoportfolio2023.webp"
      height="35"
      width="35"
      alt="User profile example"
      class="rounded-full"
    />
    <a href="/user-data">Hi {{name}}!</a>
  </div>
</nav>