<div class="flex items-center dark:bg-dark-main-bg dark:text-white">
  <!-- BUTTON ACTIONS -->
  <div class="flex flex-col items-center justify-center gap-4 pl-6 mt-auto mb-24">
    <button
      class="font-medium text-sm rounded-lg w-full px-5 py-2.5 me-2 text-white/90 bg-main-purple/50 hover:bg-main-purple/80 focus:ring-main-purple focus:ring-4 dark:bg-gray-700 dark:text-white/90 transition ease-in-out ml-auto"
      (click)="redirectToDoctorType()"
    >
      Specializations
    </button>
    <button
      class="font-medium text-sm rounded-lg w-full px-5 py-2.5 me-2 text-white/90 bg-main-purple/50 hover:bg-main-purple/80 focus:ring-main-purple focus:ring-4 dark:bg-gray-700 dark:text-white/90 transition ease-in-out ml-auto"
      (click)="redirectToDoctors()"
    >
      Doctors
    </button>
    <button
      class="font-medium text-sm rounded-lg w-full px-5 py-2.5 me-2 text-white/90 bg-main-purple/50 hover:bg-main-purple/80 focus:ring-main-purple focus:ring-4 dark:bg-gray-700 dark:text-white/90 transition ease-in-out ml-auto"
      (click)="newdoctor()"
    >
      New schedule
    </button>
  </div>

  <!-- DATA DOCTORS -->
  <div class="flex flex-col justify-center w-full p-6 gap-6 mb-auto">
    <div class="flex flex-col gap-4">
      <span class="font-bold text-2xl md:text-4xl">Schedules</span>

      <form
        (submit)="onSubmit($event)"
        class="flex flex-row items-center w-full"
      >
        <label
          for="filterdoctor"
          class="bg-gray-400/20 dark:bg-gray-700 dark:text-white/90 rounded-md px-2 py-1.8 flex flex-row items-center gap-2 w-full text-gray-700/80"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
            />
          </svg>
          <input
            type="search"
            name="filterdoctor"
            placeholder="Search doctor by name, dni, city, email or phone number"
            #filter
            class="bg-transparent border-none w-full focus:border-0"
            (keydown.enter)="filterdoctors(filter.value)"
          />
        </label>
      </form>
    </div>

    @if (dataSchedules.length > 0){
    <table
      class="w-full text-sm text-left table-auto rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="table-header-group text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr class="table-row">
          <th scope="col" class="px-6 py-3 table-cell">Name</th>
          <th scope="col" class="px-6 py-3 md:table-cell hidden">Start</th>
          <th scope="col" class="px-6 py-3 md:table-cell hidden">End</th>
          <th scope="col" class="px-6 py-3 table-cell">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody class="table-row-group">
        @for (schedule of filteredSchedules | paginate : { itemsPerPage:
        cantdoctorsPerPage, currentPage: pagination, totalItems: alldoctors};
        track filteredSchedules[0].id){
        <tr
          class="table-row bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ schedule.name }}
          </th>

          <td class="px-6 py-4 md:table-cell hidden">{{ schedule.scheduleStart }}</td>
          <td class="px-6 py-4 md:table-cell hidden">{{ schedule.scheduleEnd }}</td>
          
          <td class="px-6 py-4 text-right table-cell">
            <a
              (click)="modifydoctor(schedule.id)"
              class="font-medium text-main-purple dark:text-white/90 hover:underline cursor-pointer"
              >Edit</a
            >
          </td>
        </tr>
        }
      </tbody>
    </table>

    <!-- PAGINATION CONTROLS -->

    <div class="self-center mb-auto">
      <pagination-controls
        (pageChange)="renderPage($event)"
        previousLabel=""
        nextLabel=""
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      ></pagination-controls>
    </div>

    <!-- FALLBACK TO DATA -->

    } @else {
    <div class="flex flex-row items-center justify-center">
      <img
        src="/assets/images/question-flatline.png"
        alt="earch-engine"
        width="150"
        height="150"
      />
      <p class="text-gray-500">Ups! There are no doctors...</p>
    </div>
    }
  </div>
</div>

<!-- MODALS -->
<div
  id="modal-create-doctor"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- MODAL CONTENT -->
    <div
      class="relative bg-white dark:bg-dark-main-bg rounded-lg shadow md:w-[800px]"
    >
      <!-- MODAL HEADER -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <span class="font-bold text-2xl md:text-4xl dark:text-white"
          >Create schedule</span
        >
      </div>

      <!-- MODAL BODY -->
      <div class="relative overflow-x-auto">
        <app-create-doctor-schedule modalId="modal-create-doctor"></app-create-doctor-schedule>
      </div>
    </div>
  </div>
</div>
